<div class=" ms-5 me-5 grid grid-cols-3 gap-4 ">
    <app-board-column (dragStartEvent)="handelDragStart($event)" 
    appDragDrop (dropEventEmitter)="handleDrop(statusEnum.toDo)" 
    (removeTaskEvent)="handelRemoveTask($event)"
     (buttonEventEmitter) ="handleButtonEmit($event)" 
     [columnType]="statusEnum.toDo" [tasks]="store.todo()" />
    <app-board-column appDragDrop (dragStartEvent)="handelDragStart($event)" 
    (dropEventEmitter)="handleDrop(statusEnum.inProgress)" 
    (removeTaskEvent)="handelRemoveTask($event)"  
    (buttonEventEmitter) ="handleButtonEmit($event)"
     [columnType]="statusEnum.inProgress" [tasks]="store.inProgress()" />
    <app-board-column appDragDrop (dragStartEvent)="handelDragStart($event)"
     (dropEventEmitter)="handleDrop(statusEnum.done)" 
     (removeTaskEvent)="handelRemoveTask($event)"
     (buttonEventEmitter) ="handleButtonEmit($event)" 
     [columnType]="statusEnum.done"  [tasks]="store.done()" />
  </div>
  